Data as of 2/21/2023 8:22 PM

In [17]:
import pandas as pd
import matplotlib.pyplot as plt
import re

In [4]:
data = pd.read_csv('Jobs - Sheet1.csv')

Data cleaning

In [34]:
data['Status'] = data['Status'].apply(lambda x: 'Rejected' if re.search(r'rejected?', x, flags=re.IGNORECASE) else ('Technical Interview' if re.search(r'technical interview', x, flags=re.IGNORECASE) else ('Interview' if re.search(r'interview', x, flags=re.IGNORECASE) else ('Applied' if re.search(r'applied', x, flags=re.IGNORECASE) else 'Unknown'))))

In [35]:
data

,Company,Link,Title,Type,Location,Duration,Where,Status
0,SOTI,SOTI-SD,SD Android,Hybrid,Mississauga,12 or 16,NaN,Interview
1,SOTI,SOTI-SD,SD,Hybrid,Mississauga,12 or 16,NaN,Interview
2,BAM,BAM,SE,Hybrid,Toronto,At least 4,LinkedIn,Unknown
3,Qualcomm,qual,SE,On-site,Markham,16,LinkedIn,Unknown
4,Texas Instruments,TX,SE,On-site,Toronto,NaN,LinkedIn,Unknown
...,...,...,...,...,...,...,...,...
70,Sanofi,sanofi,Data,On-site,Toronto,NaN,linkedIn,Unknown
71,ProofPoint,proofpoint,Archive,Remote,Toronto,NaN,linkedIn,Unknown
72,Wealthscope,wealthscope,SD,Hybrid,Toronto,NaN,linkedIn,Rejected
73,Citco,citco,SE,Hybrid,Toronto,NaN,linkedIn,Unknown
74,Seismic,sei,SE,On-site,Toronto,NaN,linkedIn,Unknown

In [14]:
applied = data[data.Status == 'Applied']
rejected = data[data.Status == 'Rejected']
other = data[(data.Status != 'Applied') & (data.Status != 'Rejected')]
other

,Company,Link,Title,Type,Location,Duration,Where,Status
0,SOTI,SOTI-SD,SD Android,Hybrid,Mississauga,12 or 16,NaN,Technical interview
1,SOTI,SOTI-SD,SD,Hybrid,Mississauga,12 or 16,NaN,Technical interview
9,Dropbox,dropbox,SE,Remote,Toronto,NaN,Indeed,Rejected?
11,D2L,D2L,SD,Remote,Kitchener,12 or 16,Glassdoor,Rejected
20,Broadridge,Broadridge,SE,Hybrid,Toronto,4,LinkedIn,Rejected
27,Guidewire,guidewire,Cloud,On-site,Toronto,NaN,LinkedIn,Rejected
31,General Motors,gm,SD,Hybrid,Markham,8,Company,Rejected
39,Cowbell,cowbell,SE,Remote,Toronto,4,LinkedIn,Rejected
65,Verto,verto,Data analyst,Remote,Toronto,NaN,Indeed,rejected